<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FacturacionElectronicaSoap11" maxReceivedMessageSize="2147483647"/>
                <binding name="ConsultasSoap11"/>
                <binding name="FacturacionElectronicaSoap111" maxReceivedMessageSize="2147483647"/>
                <binding name="FacturacionElectronicaSoap112" maxReceivedMessageSize="2147483647"/>
                <binding name="FacturacionElectronicaSoap113" maxReceivedMessageSize="2147483647"/>
                <binding name="FacturacionElectronicaSoap114" maxReceivedMessageSize="2147483647"/>
                <binding name="FacturacionElectronicaSoap115" maxReceivedMessageSize="2147483647"/>
                <binding name="FacturacionElectronicaSoap116" maxReceivedMessageSize="2147483647"/>
                <binding name="FacturacionElectronicaSoap117" maxReceivedMessageSize="2147483647"/>
                <binding name="FacturacionElectronicaSoap118" maxReceivedMessageSize="2147483647"/>
                <binding name="FacturacionElectronicaSoap119" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://159.138.117.179:8080/efactura-py/ws/Consultas" binding="basicHttpBinding" bindingConfiguration="ConsultasSoap11" contract="consultas.Consultas" name="ConsultasSoap11"/>
            <endpoint address="http://159.138.117.179:8080/efactura-py/ws/FacturacionElectronica" binding="basicHttpBinding" bindingConfiguration="FacturacionElectronicaSoap111" contract="servicio.FacturacionElectronica" name="FacturacionElectronicaSoap11"/>
            <endpoint address="http://192.168.16.250:8080/efactura-node/ws/FacturacionElectronica" binding="basicHttpBinding" bindingConfiguration="FacturacionElectronicaSoap113" contract="ServicioPC.FacturacionElectronica" name="FacturacionElectronicaSoap112"/>
            <endpoint address="http://172.19.0.242:8080/efactura-py/ws/FacturacionElectronica" binding="basicHttpBinding" bindingConfiguration="FacturacionElectronicaSoap11" contract="servicionormal.FacturacionElectronica" name="FacturacionElectronicaSoap115"/>
            <endpoint address="http://192.168.20.249:8080/efactura-node/ws/FacturacionElectronica" binding="basicHttpBinding" bindingConfiguration="FacturacionElectronicaSoap115" contract="ServicioNodoItaugua.FacturacionElectronica" name="FacturacionElectronicaSoap114"/>
            <endpoint address="http://192.168.80.3:8080/efactura-node/ws/FacturacionElectronica" binding="basicHttpBinding" bindingConfiguration="FacturacionElectronicaSoap112" contract="ServicioLimpio.FacturacionElectronica" name="FacturacionElectronicaSoap111"/>
            <endpoint address="http://192.168.7.250:8080/efactura-node/ws/FacturacionElectronica" binding="basicHttpBinding" bindingConfiguration="FacturacionElectronicaSoap114" contract="ServicioCampestreF.FacturacionElectronica" name="FacturacionElectronicaSoap113"/>
        </client>
    </system.serviceModel>
</configuration>
