<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FacturacionElectronicaSoap11" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="FacturacionElectronicaSoap111" maxReceivedMessageSize="2147483647" />
                <binding name="ConsultasSoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://159.138.117.179:8080/efactura-py/ws/Consultas"
                binding="basicHttpBinding" bindingConfiguration="ConsultasSoap11"
                contract="consultas.Consultas" name="ConsultasSoap11" />
            <endpoint address="http://192.168.20.249:8080/efactura-node/ws/FacturacionElectronica"
                binding="basicHttpBinding" bindingConfiguration="FacturacionElectronicaSoap111"
                contract="servicio.FacturacionElectronica" name="FacturacionElectronicaSoap11" />
        </client>
    </system.serviceModel>
</configuration>